<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
	<!--#########################################################################################-->
	<!-- Section de configuration pour les chaines de connexion aux bases de données -->
	<!--#########################################################################################-->
	<dataConfiguration defaultDatabase="AdventureWorks2008" />
	<connectionStrings>
		<add name="AdventureWorks2008" connectionString="Database=AdventureWorks2008;Server=TRAININGSQL2008\SQL2008ENT;Integrated Security=SSPI;"
			providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <!--#########################################################################################-->
  <!-- Section de configuration Unity-->
  <!--#########################################################################################-->
  <unity>
    <typeAliases>
      <typeAlias alias="IPersonDataProvider" type="Soat.HappyNet.Server.Services.HumanResources.DataAccessLayer.IPersonDataProvider, Soat.HappyNet.Server.Services.HumanResources" />
      <typeAlias alias="PersonDataProvider" type="Soat.HappyNet.Server.Services.HumanResources.DataAccessLayer.PersonDataProvider, Soat.HappyNet.Server.Services.HumanResources" />
      <typeAlias alias="IPersonBusinessProvider" type="Soat.HappyNet.Server.Services.HumanResources.BusinessLayer.IPersonBusinessProvider, Soat.HappyNet.Server.Services.HumanResources" />
      <typeAlias alias="PersonBusinessProvider" type="Soat.HappyNet.Server.Services.HumanResources.BusinessLayer.PersonBusinessProvider, Soat.HappyNet.Server.Services.HumanResources" />
    </typeAliases>
    <containers>
      <container name="humanResourcesContainer">
        <types>
          <type type="IPersonDataProvider" mapTo="PersonDataProvider" />
          <type type="IPersonBusinessProvider" mapTo="PersonBusinessProvider" />
        </types>
      </container>
    </containers>
  </unity>
  <!--#########################################################################################-->
  <!-- Section de configuration des Services WCF -->
  <!-- When deploying the service library project, the content of the config file must be added to the host's  app.config file. System.Configuration does not support config files for libraries. -->
  <!--#########################################################################################-->
  <system.serviceModel>
    <!--###############################################################################################################-->
    <!--Ajout de l'extension pour la gestion des Faults WCF-->
    <!--###############################################################################################################-->
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="Soat.HappyNet.Server.Common.FaultBehavior.SilverlightFaultBehavior, Soat.HappyNet.Server.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <!--###############################################################################################################-->
      <!--Behavior pour les Faults WCF-->
      <!--###############################################################################################################-->
      <endpointBehaviors>
        <behavior name="SilverlightFaultBehavior">
          <silverlightFaults />
        </behavior>
      </endpointBehaviors>
      <!--###############################################################################################################-->
      <!--Behavior sur les Services WCF-->
      <!--###############################################################################################################-->
      <serviceBehaviors>
        <behavior name="CommonServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--###############################################################################################################-->
      <!--Service d'authentication et de récupération du membre de l'application-->
      <!--###############################################################################################################-->
      <service behaviorConfiguration="CommonServiceBehavior" name="Soat.HappyNet.Server.Services.HumanResources.HumanResourcesService">
        <endpoint address="" binding="basicHttpBinding" behaviorConfiguration="SilverlightFaultBehavior" bindingConfiguration="" name="basicHttpBindingEndPoint" contract="Soat.HappyNet.Server.Services.HumanResources.IHumanResourcesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBindingEndPoint" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>